* {
  box-sizing: border-box;
}

html,
body {
  height: auto;
}

body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3 {
  margin: 0;
}
