@import 'src/assets/styles/base/variables';

.form-wizard {
  display: flex;
  min-height: 420px;

  @media (max-width: $tablet) {
    flex-direction: column;
  }

  /deep/ &__info {
    text-align: right;
    max-width: 35%;
    width: 100%;
    padding-right: 3.5%;

    @media (max-width: $tablet) {
      max-width: 100%;
      margin-bottom: 15px;
    }

    &-description {
      margin-top: 15px;
      font-style: italic;

      @media (max-width: $tablet) {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }

  &__form {
    flex: 1;

    form {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
    }
  }

  // style redefinitions of ant-lib form components
  /deep/ .ant-form-item {
    @media (max-width: $tablet) {
      margin-bottom: 5px;
    }

    &-label {
      padding-bottom: 0;
    }
  }

  /deep/ .ant-form-explain {
    font-size: 13px;
  }
}

.animated {
  animation-duration: .3s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

