@import 'src/assets/styles/base/variables';

.form-wizard {
  display: flex;
  // align-items: center; undefined need or not
  min-height: 420px;

  @media (max-width: 576px) {
    flex-direction: column;
  }

  /deep/ &__info {
    text-align: right;
    max-width: 35%;
    width: 100%;
    padding-right: 3.5%;

    @media (max-width: 576px) {
      max-width: 100%;
      margin-bottom: 15px;
    }

    &-description {
      margin-top: 15px;
      font-style: italic;
    }
  }

  &__forms {
    flex: 1;
  }
}
