$primary: white;
$info: #95a5a6;
$success: #27ae60;
$warning: #f1c40f;
$danger: #c0392b;

.notification {
  width: 300px;
  background-color: whitesmoke;
  border-radius: 3px;
  padding: 20px;
  color: black;
  margin-bottom: 10px;
  white-space: pre-wrap;

  &--primary {
    background-color: $primary;
  }

  &--info {
    background-color: $info;
  }

  &--success {
    background-color: $success;
    color: white;
  }

  &--warning {
    background-color: $warning;
    color: rgba(0,0,0,.7);
  }

  &--danger {
    background-color: $danger;
    color: rgba(0,0,0,.7);
  }
}
